<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../styles/dashboard.css" rel="stylesheet">
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="flex min-h-screen">
    {{> dashboard_sidebar u }}
    {{!-- {{> search_header u }} --}}
    <div class="flex-1 p-8">
    <header class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6">
        <h1 class="text-3xl font-semibold text-gray-800 mb-4 sm:mb-0">
            {{#if (eq u.role "employee") }}
                Welcome, {{ full_name }}!
            {{else if (eq u.role "vendor") }}
                {{ brand_name }}
            {{else if (eq u.role "admin") }}
                Admin Dashboard
            {{else }}
                Who are you?
            {{/if}}
        </h1>
        <div class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-4 w-full sm:w-auto">
            <button class="bg-gray-200 text-gray-800 px-6 py-2 rounded-xl font-medium flex items-center justify-center shadow-sm hover:bg-gray-300 transition-colors duration-200">
                <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                </svg>
                ADD USER
            </button>
            <button class="bg-gray-200 text-gray-800 px-6 py-2 rounded-xl font-medium flex items-center justify-center shadow-sm hover:bg-gray-300 transition-colors duration-200">
                <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                </svg>
                DELETE USER
            </button>
        </div>
    </header>

    <section class="bg-white p-6 rounded-2xl shadow-md mb-6">
        <div class="flex flex-col md:flex-row md:items-center justify-between mb-4 space-y-4 md:space-y-0"> 
            
        </div>
    </section>

    <p id="no-results" class="text-gray-500 text-center hidden">No items found.</p>
    {{> help_button }}
</body>
</html>